<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="edu.cmu.cs.crystal.CrystalAnalysis">
      <analysis
            class="oogre.analysis.RefinementAnalysis"
            name="oogre.analysis.RefinementAnalysis">
      </analysis>
   </extension>

</plugin>
