Welcome to OOG web.

This is the main functionality.
<ul>
<li> Object Tree (top left): shows the object tree; drag-and-drop refinements; they show up in the table below the tree;
<li> Refinement List (bottom left): list of refinements, and their status (Pending, Completed, Unsupported);
<li> Code (top middle): syntax highlighted code; have trace to code from tree nodes; the backend will modify the annotations in the code; 
<li> Object Graphs (bottom middle): SVG image of the graph; the graph can be displayed either as nested boxes or as graphs of objects and domains.
<li> Property Editor (top right): edit properties on selected objects;
<li> Query Builder (bottom right): select and execute queries.
</ul>

